@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Luckiest+Guy&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
}